.body {
    background-color: gray;
    position: relative;
    font-family: rubrik-new, sans-serif;
    font-size: 13px;
    scroll-behavior: smooth;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 1fr 1fr 1fr 1fr 1fr 1.2fr 0.05fr;

    @include screen_tall {
        font-size: 14px;
    }
    @include screen_veryTall {
        font-size: 16px;
    }
    @include grid_break {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 0.05fr;
        font-size: 16px;
    }
}
.body--stuck {
    overflow: hidden;
}
