.categories {
    display: flex;
    width: 80%;
    padding: 20px 0;
    @include grid_break {
        width: 100%;
    }
}
.categories__title {
    font-size: 2em;
    margin-bottom: 5px;
}
.categories__category {
    display: none;
    flex-direction: column;
    color: white;
    width: 100%;
    @include grid_break {
        display: flex;
        margin: 40px;
        width: 30%;
    }
    li:nth-child(even) {
        font-size: 1.3em;
        font-weight: 700;
    }
    li:nth-child(odd) {
        font-size: 1em;
        margin-bottom: 7px;
        padding-bottom: 5px;
        border-bottom: 1px solid white;
    }
}
.categories__category--show {
    display: flex;
}
