.features {
    padding: 20px;
    @include screen_small {
        width: 70%;
    }
    @include grid_break {
        width: 90%;
    }
}
.features__list {
    @include screen_small {
        width: 100%;
    }
    li:nth-child(odd) {
        font-size: 1.5em;
        font-weight: 700;
        margin-bottom: 2%;
    }
    li:nth-child(even) {
        font-size: 1em;
        margin-bottom: 7%;
        padding-bottom: 5px;
        border-bottom: 1px solid black;
    }
}

.features--withResume {
    display: flex;
    justify-content: space-between;

    .features__list {
        width: 100%;

        @include grid_break {
            width: 55%;
        }
    }
    .features__resume {
        width: 35%;
        display: none;
        @include grid_break {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        h2 {
            font-size: 1.5em;
            font-family: rubrik-new, sans-serif;
            margin-bottom: 10px;
        }
        p {
            font-size: 1.1em;
        }
    }
}

.features--white {
    color: white;
    li:nth-child(even) {
        border-color: white;
    }
}
