.features {
    padding: 20px;
    @include screen_small {
        width: 70%;
    }
    li:nth-child(odd) {
        font-size: 1.5em;
        font-weight: 700;
        margin-bottom: 2%;
    }
    li:nth-child(even) {
        font-size: 1em;
        margin-bottom: 7%;
        padding-bottom: 5px;
        border-bottom: 1px solid black;
    }
}

.features--white {
    color: white;
    li:nth-child(even) {
        border-color: white;
    }
}
