.footer {
    background-color: white;
    grid-column: 1;
    grid-row: 8;
    font-size: 0.8em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        color: black;
        text-decoration: underline;
    }
    @include grid_break {
        grid-column: 1 / 3;
        grid-row: 6;
    }
}
