.menu {
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: ease 500ms;
}

.menu--open {
    height: 80vh;
    width: 100%;
    padding: 10% 0;
    a {
        color: black;
        transition: 500ms ease;
        padding: 10px;
    }
    a:hover {
        transform: scale(1.1);
    }
}
